doctype html
html(lang="en")
  head
  body(style="background-color:#fff; color: #000; text-align:center; ")
    div(style="margin-top:10px")
      h1(style="text-transform: uppercase;") #{welcome}
    div
      p(style="font-size:15px") #{description}
      a(style="background-color: #84FFFD; color:#000; margin-bottom: 20px; text-decoration: none; padding: 10px 20px; display: inline-block; border-radius: 4px;"
      href=verifyLink) #{verifyTitle}