doctype html
html(lang="en")
  head
  body(style="background-color:blue; color: white; text-align:center")
    div(style="margin-top:30px")
      h1 Welcome to Exzo!
      p(style="font-size:18px; color: red") #{error}
